.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background: #f4f4f4;
}

p:before {
    content: attr(type);
    display: block;
    font-size: 20px;
    color: #052146;
    margin-top: 40px;

}

input{
    width: 300px;
    border: none;
    border-bottom: 2px solid #052146;
    background: none;
    color: #052146;
}

input:focus{
   outline: none;
   border-bottom: 3px solid #ff5733;
}

.formulario{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

button{
    background: #052146;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.centrar-boton{
    display: flex;
    justify-content: center;
}

h2, header{
    color: #052146;
    font-size: 35px;

}

.msg_error{
    background: #ffcccc;
    border-left: 6px solid #ff3333;
    padding: 10px;
    margin-top: 10px;
    display: none;
    font-weight: bold;
}

.error_asterisco{
    color: #ff3333;
    font-weight: bold;
    display: none;
}